body {
background: linear-gradient(180deg,#E3D7FF, #AFA2FF, #5868a4);

}

/*Calculator*/
.calculator-grid {
display: flex-box;

position: absolute;
margin: auto;
top: 0;
right: 0;
bottom: 0;
left: 0;
flex-direction: column;
align-items: center;
align-content: center;
justify-content: center;
height: 645px;
width: 350px;
background: #84A98C;
padding: 15px;
padding-bottom: 10px;
border-radius: 25px;
}
/*Display Screen*/
.output {
    font-family: loos-extended, sans-serif;
    font-weight: 800;
    font-style: normal;
    display: flex;

    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 6px;
    height: 60px;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
color: black;
font-size: 1.5rem;
}

.output .current-operand {
color: black;
font-size: 2.5rem;
}



/*Button Box*/
.button-box{
display: flex;
flex-direction: column;
}

/*Clr and Del*/
.clr-and-del{
display: flex;
justify-content: center;
align-items: flex-start;
}
/*Container Box*/
.container-box{
    display: flex;
    align-content: space-between;
    flex-direction: row;
    width: 100%;
}
/*Number Box*/
.number-box{
display: flex;
justify-content: center;
flex-direction: row;
flex-flow: row wrap;
align-items: flex-start;  
align-content: flex-start;
width: max-content
}


button {
    flex: 1;
    font-family: loos-extended, sans-serif;
    font-weight: 800;
    font-style: normal;
    background-color: #172A3A; 
    border: 2px solid;
    border-color: aquamarine;
    color: white;
    padding: 26px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    width: max-content;
}

button:hover {
    background-color: #0f1922; 

}

h1 {
    margin-left: 5px;
    font-family: loos-extended, sans-serif;
    font-weight: 800;
    font-style: normal;
}

/* FOOTER */

footer {
    width: 500px;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 30px;
        margin-top:-10px; 
    display: flex;
    margin: 5px;
    font-family: loos-extended, sans-serif;
    font-weight: 800;
    font-style: normal;
    color:  #172A3A;


  }
  
  .fa-github {
    color:  #172A3A;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
  
    transform: rotate(360deg) scale(1.2);
  }