/*Calculator*/
.calc-container {
display: flex-box;
margin: auto;
align-items: center;
justify-content: center;
height: 645px;
width: 350px;
background: #84A98C;
padding: 30px;
border-radius: 25px;
}
/*Display Screen*/
.screen-current {
    font-family: loos-extended, sans-serif;
    font-weight: 800;
    font-style: normal;
    min-height: 64px;
    max-width: 1000px;
    font-size: 40px;
    display: block;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: right;
    margin: 15px;
}
/*Button Box*/
.button-box{
display: flex;
flex-direction: column;
}

/*Clr and Del*/
.clr-and-del{
display: flex;
justify-content: center;
align-items: flex-start;
}
/*Container Box*/
.container-box{
    display: flex;
    align-content: space-between;
    flex-direction: row;
}
/*Number Box*/
.number-box{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;  
align-content: flex-start;
}
/*Operator Box*/
.operator-box{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

button {
    font-family: loos-extended, sans-serif;
    font-weight: 800;
    font-style: normal;
    background-color: #172A3A; 
    border: 2px solid;
    border-color: aquamarine;
    color: white;
    padding: 25px;
    margin: 5px;
    text-align: center;
    align-items: flex-start;
    border-radius: 10px;
    font-size: 20px;
}

h1 {
    font-family: loos-extended, sans-serif;
    font-weight: 800;
    font-style: normal;
}